{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
  <div>
    <a href="{% url 'posts' %}"><button>&#8672;</button></a>
  </div>
  <div>
    <h1>{{ post.title }}</h1>
    <p>On {{ post.published_date }}</p>
    <p>By {{ post.author }}</p>
    <p>{{ post.content}}</p>
    {% if user == post.author %}
      <a href="{% url  'post_edit' post.pk %}"><button>Edit post</button></a>
    {% endif%}
    <h3>Comments</h3>
    <ul>
      {% for comment in post.comments.all %}
        <li><p>
          <b>{{ comment.author }}</b><br>
          <span>{{ comment.content }}</span><br>
          <i>{{ comment.created_at }}</i><br>
          {% if comment.author == user %}
            <a href="{% url 'comment_edit' comment.pk %}"><button>Edit</button></a>
            <a href="{% url 'comment_delete' comment.pk %}"><button>Delete</button></a>
          {% endif %}
        </p></li>
      {% endfor %}
    </ul>

    <h3>Add a new comment</h3>
    <form method="post" action="{% url 'comment_add' post.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Comment</button>

     <!-- <a href="{% url 'post_detail' post.pk %}">
        <button type="button">Cancel</button>
      </a> -->
    </form>

  <div>
</body>
</html>