<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
  <header>
    <form method="GET" action="{% url 'posts'%}">
      <input type="text" name="q" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </header>
  <div>
    {% if posts %}
      {% for post in posts %}
        <h2><a href="{% url 'comment_add' post.pk %}">{{ post.title }}</a></h2>
        <p>By {{ post.author }}</p>
        <p>On {{ post.published_date }}</p>
      {% endfor %}

    {% else %}
      <p>No posts available</p>
    {% endif %}
  </div>
</body>
</html>